# Ridge Regression

In [2]:
# import libraries
from sklearn.linear_model import Ridge
import numpy as np

# example data
X = np.array([[1, 1], [1, 2], [2, 2], [2, 3]])
# target values
y = np.dot(X, np.array([1, 2])) + 3

# target regression model
ridge_reg = Ridge(alpha=1.0) # alpha is the equivalent of lambda in the formula
ridge_reg.fit(X, y)

# coefficients
print("Coefficients:" , ridge_reg.coef_)
# intercept 
print("Intercept:" , ridge_reg.intercept_)

Coefficients: [0.8 1.4]
Intercept: 4.5

# Comparing Simple Linear Regression vs Ridge Regression

## import libraries and load the data

In [3]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_absolute_percentage_error
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

# load the data
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

# Pre Process the data

In [4]:
# selecting a subset of columns for simplicity
columns_to_use = ['survived', 'pclass', 'sex', 'age', 'fare']
df = df[columns_to_use]

# handling missing values 
df['age'].fillna(df['age'].median(), inplace=True)

# define feature and target variable 
X = df.drop('survived', axis=1)
y = df['survived']

# split the dataset into training and testing sets
X_train, X_test, y_train , y_test = train_test_split(X, y, test_size=0.2, random_state=0)

C:\Users\ok\AppData\Local\Temp\ipykernel_9528\1775975855.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].median(), inplace=True)

## Creating a pipeline

In [5]:
# define a pipeline for OneHotEncoding and model
categorical_features = ['sex']
numerical_features = ['pclass', 'age', 'fare']

# preprocessor
preprocessor = ColumnTransformer(
    transformers=[
        ('num', 'passthrough', numerical_features),
        ('cat', OneHotEncoder(), categorical_features)])

# Linear Regression Pipeline
lr_pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                              ('regressor', LinearRegression())])

# Ridge Regression Pipeline
ridge_pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                                 ('regressor', Ridge(alpha=1.0))])

## train and evaluate the models

In [6]:
# train and evaluate Linear Regression
lr_pipeline.fit(X_train, y_train)
lr_pred = lr_pipeline.predict(X_test)
lr_mse = mean_squared_error(y_test, lr_pred)
lr_2 = r2_score(y_test, lr_pred)
lr_mae = mean_absolute_error(y_test, lr_pred)
lr_mape = mean_absolute_percentage_error(y_test, lr_pred)
lr_rmse = np.sqrt(lr_mse)

# train and evaluate Ridge Regression
ridge_pipeline.fit(X_train, y_train)
ridge_pred = ridge_pipeline.predict(X_test)
ridge_mse = mean_squared_error(y_test, ridge_pred)
ridge_r2 = r2_score(y_test, ridge_pred)
ridge_mae = mean_absolute_error(y_test, ridge_pred)
ridge_mape = mean_absolute_percentage_error(y_test, ridge_pred)
ridge_rmse = np.sqrt(ridge_mse)

print("Linear Regression MSE:", lr_mse)
print("Ridge Regression MSE:", ridge_mse)

print("Linear Regression R2:" , ridge_r2)
print("Ridge Regression R2:" , ridge_r2)

print("Linear Regression MAE:" , lr_mae)
print("Ridge Regression MAE:" , ridge_mae)

print("Linear Regression MAPE:" , lr_mape)
print("Ridge Regression MAPE:" , ridge_mape)

print("Linear Regression RMSE" , lr_rmse)
print("Ridge Regression RMSE:" , ridge_rmse)

Linear Regression MSE: 0.13684268526287452
Ridge Regression MSE: 0.1368602274478447
Linear Regression R2: 0.42224788568426985
Ridge Regression R2: 0.42224788568426985
Linear Regression MAE: 0.28882295584163387
Ridge Regression MAE: 0.28923126730713655
Linear Regression MAPE: 697272156502681.8
Ridge Regression MAPE: 698032476179649.4
Linear Regression RMSE 0.3699225395442599
Ridge Regression RMSE: 0.3699462494036731

# Completed