# Hope to Skill - Free Al Advance Course

## Lecture 07 - Programming Fundamentals

### Basics of Python

# 1.Variable naming

## Rules for naming conventions

In [13]:
# Right variable Declarations
num_students=25

In [4]:
total_sales=1000

In [15]:
student_name="AI"

In [42]:
My_name="Faisal Jehan"

In [19]:
MY_age= 20

In [20]:
money = 10.5

In [21]:
print(money)

10.5

In [47]:
print("Hope to Skilss")
print("Hope to Skilss")

Hope to Skilss
Hope to Skilss

In [49]:
a= "Hope to Skills "
print(a)

Hope to Skills

In [61]:
a="""sjdf dkfj dkjf djfkd vdkfj dklsf d jkdlsfj dskfj ldslf dsklfj sd fdkslfj jdf  dslkhfj jdsf dskljf sdlkfj dsl fdslkf dslkf dslkf dlkjfs dslkf s fd
djkf sdklfjksdl ff sd"""
print(a)

sjdf dkfj dkjf djfkd vdkfj dklsf d jkdlsfj dskfj ldslf dsklfj sd fdkslfj jdf  dslkhfj jdsf dskljf sdlkfj dsl fdslkf dslkf dslkf dlkjfs dslkf s fd
djkf sdklfjksdl ff sd

In [101]:
print(my_name.replace("F","J"))

Jaisal JehaN!

In [102]:
print(my_name.lower())

faisal jehan!

In [125]:
mylist=["apple","banana","cherry"]

In [132]:
myname= "apple", "bannea", "orc"

In [133]:
print(myname)

('apple', 'bannea', 'orc')

In [127]:
print(my_list)

['apple', 'banana', 'cherry']

In [139]:
print(len(myname))

3

In [140]:
my_list = [1, 2, 3, 'apple', 'banana', 3.14, [4, 5, 6]]

In [141]:
print(my_list)

[1, 2, 3, 'apple', 'banana', 3.14, [4, 5, 6]]

In [ ]:
t

In [6]:
# String, int and boolean data types:
list1=["apple","banana","cherry"]
list2=[1,2,4,5,]
list3=[True,False,False]

In [10]:
print(list3)

[True, False, False]

In [14]:
print(list1[0:2])

['apple', 'banana']

In [13]:
print(list1[-1])

cherry

In [ ]:
rin

In [ ]:
p

In [28]:
list1.append(False)
print(list1)

['apple', 50, 'cherry', 10, True, True, True, True, True, True, True, True, True, False, False]

In [29]:
list1[1]=50

In [30]:
print(list1)

['apple', 50, 'cherry', 10, True, True, True, True, True, True, True, True, True, False, False]

In [55]:
list1.reverse()
print(list1)

[False, False, True, True, True, True, True, True, True, True, True, 10, 'cherry', 50, 'apple']

In [67]:
thislist1=["banana","apple","city","city","city"]

print(thislist1)

['banana', 'apple', 'city', 'city', 'city']

In [72]:
thislist2=["apple","banana","apple","city","city","city"]
print(thislist2)

['apple', 'banana', 'apple', 'city', 'city', 'city']

In [79]:
thistuple = ("apple",)
print(type(thistuple))

thistuple=(3.5)
print(type(thistuple))

<class 'tuple'>
<class 'float'>

In [99]:
thoseset={"apple","banana","cherry","cherry"}
print(thoseset)

{'apple', 'banana', 'cherry'}

In [104]:
print{thisset[0]}

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (4150835531.py, line 1)

In [141]:
thisdict={"faisal": "jehan", "talha":"jehan","year":2000}

In [147]:
print(thisdict["faisal"])

jehan

In [145]:
print(thisdict)

{'faisal': 'jehan', 'talha': 'jehan', 'year': 2000}

In [149]:
print(3*4)

12

In [154]:
print(2**4)

16

In [161]:
print(40%20)

0

In [178]:
a=500/1000
a

0.5

In [183]:
b=12//4
b

3

In [188]:
num1=5
num2=10

sum=num2 - num1
print(sum)

5

In [197]:
length=2.5
height=3.5
area=length //// height
print(area)

SyntaxError: invalid syntax (4214620750.py, line 3)

In [117]:
a=6

b=200

In [118]:
 a < 5

False

In [79]:
a<=b

True

In [31]:
result = a==b 

print("Is a equal to be?", result)

Is a equal to be? True

In [32]:
result = a !=b
print("Is a not requal to be?", result)

Is a not requal to be? False

In [34]:
result= a>b
print("is a greater than b?", result)

is a greater than b? False

In [121]:
'cat' in ['dog','ca','mouse']

False

In [123]:
sentence = "Hello" + ' ' + 'World'
print(sentence)

Hello World

In [5]:

k="FAisal"
print(k* 5 + '!' )

FAisalFAisalFAisalFAisalFAisal!

In [10]:
"ABCD" = "ABCDe"

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (57086884.py, line 1)

In [14]:
"1234" > '123'

True

In [20]:
if condition:
    # Code to be executed if the condition is true

SyntaxError: incomplete input (2726166552.py, line 2)

In [19]:
if condition

SyntaxError: expected ':' (1268378766.py, line 1)

In [37]:
x = 3

if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

In [40]:
a=10

if a > 50:
    print("a is greater than 5")
else:
    print("a is not greater than 5")

a is not greater than 5

In [36]:
else:
    print("a is not greater than 5")

SyntaxError: invalid syntax (574910945.py, line 1)

In [41]:
a= 100

In [55]:
if a> 500:
 print("a is greater than 500")

else:
 print("a is not greater than 500")

a is not greater than 500

In [52]:
else:
print("a is not greater than 500")

SyntaxError: invalid syntax (4254855150.py, line 1)

In [56]:
a = 10

In [65]:
if:
    print("a is not greater than 50")

else a > 50:
    print("a is greater than 50")

SyntaxError: invalid syntax (2292504288.py, line 1)

In [58]:
else:
    print("a is not greater than 50")

SyntaxError: invalid syntax (3422664904.py, line 1)

In [11]:
# Assume that if the student have 65 or not
student_marks= 60

# Check if the grade is equal to or higher than the passing threshold 
if student_marks ==60:

    print("Students have scored passing grades")

Students have scored passing grades

In [17]:
# Example 02 of an IF statement

# Assume the student's grade
student_score = 50

# Check if the grade is equal to or higher than the passing threshold 
if student_score >=65:

    print("Student is passed")

In [9]:
# Example 03: Checking if a number is positive and printing an appropriate 

# First example with a positive number 
postive_num=3
# Check if the number is greater than 0
if postive_num > 0:
    # if the condition is true, print a message including a ps num
    print(postive_num,"Is a positive num")

 # Regardless of the condition, this line is always printed>
    print("This is always printed")

# Second example with a negative number 
    negative_num = -1
# Check if the number is greater than 0 
if negative_num < 2:
# since the condition is false, this block is not executed
 print(negative_num, "is a negative")
 # REgardeless of the condtion , this line is always printed 
print("THIS LINE IS ALWAYS PRINTED")

3 Is a positive num
This is always printed
-1 is a negative
THIS LINE IS ALWAYS PRINTED

In [ ]:
# Example 04: Calculating the square of a number if its greater than 6
# Assume the given number 
given_number=10

# CHeck if the number is greater than 6
if given_number > 6:

    # If the condition is true, calculate the square of the number
square_